nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: whitesmoke;
}
ul,li{
    list-style: none;
    padding-left: 10px;
}

ul{
    display: flex;
    align-items: center;
    
}
li,img{
    display: flex;
    height: 80px;
    align-items: center;
    padding: 20px;
}

.Container{
    width: 600px;
    margin: auto;
}

.Slider{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.Slider img{
    height: 600px;
    width: 600px;
    scroll-snap-type: start;
}
.menu{
    background-color: yellow;
    width: 600px;
}
.display{
    display: flex;
    justify-content: center;
}
.PrimerCatalogo{
   
    display: flex;
    justify-content: center;
}
.letras1{
    font-size: 30px;
}
.letras2{
    font-size: 30px;
}
.letras3{
    font-size: 30px;
}
.PrimerCatalogo img{
    justify-content: center;
    height: 200px;
}
.piePagina{
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.redes{
    display: flex;
    flex-direction: row; 
}
.redes img{
    flex: 1;
    height: 20px;
    width: 20px;
    gap: 0;
    padding: 0;
    display: block;
}
.caja2 img{
    padding: 2px;
    height: 20px;
}
.caja2 p{
    display: flex;
    flex-direction: row;
    background-color: palegoldenrod;
}
.Letters{
    display: flex;
    justify-content: center;
}
.formularioSignin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 20px;
    background-color: lightgray;
}
.formulario{
    margin: 20px;
    background-color: whitesmoke;

}
.formulario label{

    width: 400px;
    height: 100px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

.botones{
   display: flex;
   justify-content: center;
   gap: 30px;
}
.botones button{
    width: 40%;
}
.formularioRegistro{
    background-color: lightgray;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registro2{
    height: 80%;
    width: 80%;
    margin: 20px;
    background-color: whitesmoke;
}
.registro2 label{
    
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: right;
   margin-bottom: 10px;
}
.registro2 input{
    background-color: lightgrey;
    flex: 1;
    width: 70%;
    padding: 1px;
}
.dosCajas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dosCajas label{ 
    width: 41%;
}
.botonRegistro{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.botonRegistro button{
    background-color: grey;
    width: 30%;
    margin-top: 20px;
}
.cuerpoTienda{
    background-color: lightgreen;
    display: flex;
    height: auto;
    width: auto;
}
.areaMuestrario{
    display: flex;
    flex-wrap:wrap ;
    flex-basis: 70%;
}
.areaFiltro{
    background-color: lightcyan;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
}
.areaMuestrario figure img{
   display: flex;
   background-color: black;
    height: 200px;
    width: 200px;
    gap: 0px;
}
.areaMuestrario figure p{
    font-size: 25px;
}
.areaMuestrario figure strong{
    font-size: 25px;
}



